{% extends 'base.html' %}

{% block title %}Senha Redefinida{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Senha alterada com sucesso!</h2>
                    <p class="lead">Sua senha foi redefinida. Agora você pode fazer login com sua nova senha.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Ir para Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}