{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Criar Conta - Growplant{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Criar uma Conta</h2>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}